# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Python sanal ortamı
venv/
.venv/
__pycache__/
*.pyc

# Büyük veri setleri ve geçici depolama alanları
data/
storage/
docker/zookeeper_data/
docker/kafka_data/
mlflow.db

# IDEs and Editors
.vscode/
.idea/
.DS_Store

# Project Specific Data (Delta Lake yerel verileri GitHub'a gitmemeli!)
storage/
data/
*.csv
*.parquet

# Spark & Kafka logs/metastore
spark-warehouse/
metastore_db/
derby.log
checkpoint/
.checkpoint/

# MLflow local runs (Eğer merkezi sunucu yerine localde loglanırsa)
mlruns/

# Docker secrets
.env